{
  "comments": false,
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "rewire",
    "system-import-transformer"
  ],
  "env": {
    "start": {
      "presets": ["react-hmre"]
    }
  }
}