<!DOCTYPE html>
<html>
  <head>
    <title>Pulse Universal</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,200" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script>
      window.__INITIAL_STATE__ = <%- initialState %>;
    </script>
    <script src="/bundle.js">
    </script>
  </body>
</html>